@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #f4f5f7;
}

.scrollbar-hide::-webkit-scrollbar{
   display: none;
}
  
.scrollbar-hide{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  
.bg-banner{
    background-image: url(/assets/images/bg.png);
}

.bg-primary{
    background-color: #e99f2e;
}

.text-primary{
    color: #f38b1c;
}

.text-b{
    -webkit-text-stroke: 1.5px white;
}

.card{
    --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
  border-color: rgba(0,0,0,.12);
  border-radius:.5rem;
  border-width: 1px;
}
